.Hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    padding: 0 8%;
    gap: 60px;
    background-color: rgb(181, 202, 117);
    border:2px solid black;
}

.HeroLeft {
    flex: 1;
    line-height: 80px;
    align-items: center;
    padding-left: 20px;
    background-color: burlywood;
    padding: 20px;
    border-radius: 14px;
    border:2px solid black;
}

.HeroLeft h1 {
    font-size: 30px;
    line-height: 1.1;
    margin: 20px 0;
}
.HeroLeft p {
    margin: 15px 0;
    font-size: 20px;
    color: #555;
}
.HeroLeft button {
    margin-top: 20px;
    padding: 15px 35px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(181, 202, 117);
    border:2px solid black;
}


.HeroRight {
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 40px;
    
}

.HeroRight img {
    width: 300px;
    background-color: burlywood;
    border-radius: 14px;
    border:2px solid black;
}