nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border:2px solid black;
}

nav div {
    display: flex;
    gap: 120px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(181, 202, 117);
    border:2px solid black;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
}

nav a:hover {
    color: blue;
}

nav h2 {
    cursor: pointer;
    font-weight: 900;
    padding: 10px;
    margin-left: 0px;
    background-color: rgb(181, 202, 117);
    border-radius: 8px;
    border:2px solid black;
}