nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: white;
}

nav div {
    display: flex;
    gap: 80px;
    padding: 10px;
    border-radius: 8px;
    background-color: #dee8c4;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
}

nav a:hover {
    color: #86b410;
}

nav h2 {
    cursor: pointer;
    font-weight: 750;
    padding: 5px;
    margin-left: 0px;
    background-color: #dee8c4;
    border-radius: 8px;
}